<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>{{ title }}</title>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
</head>
<style>
    tab1 { padding-left: 2em; }
    tabimage { padding-right: 3em; }
    #wrap {
       width:100%;
       margin:0 auto;
    }
    #left_col {
       float:left;
       width:48%;
    }
    #right_col {
       float:right;
       width:48%;
    }
    img.rms{
    	float:rigth;
  		font-family: Veranda;
	}
	img.mom0{
        font-family: Veranda;
  	}
	img.mom1{
  		font-family: Veranda;
  	}
  	img.mom2{
  		font-family: Veranda;
  	}
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h1>{{ title }}</h1>
<table style="width:30%">
  <tr>
    <th>Name</th>
    <td>{{title}}</td>
  </tr>
  <tr>
    <td>Ra</td>
    <td>{{ra}}</td>
  </tr>
  <tr>
    <td>Dec</td>
    <td>{{dec}}</td>
  </tr>
  <tr>
    <td>z</td>
    <td>{{z}}</td>
  </tr>
  <tr>
    <td>D\(_{\rm L}\) [Mpc]</td>
    <td>{{dL}}</td>
  </tr>
</table>
{{rms_img}}
<h2>Datacube information</h2>
{{cubeName}}<br/><br/> 
located in : {{cubeDir}}
<br/><br/>
<table style="width:30%">
  <tr>
    <td>Beam Major ["]</td>
    <td>{{BMaj}}</td>
  </tr>
  <tr>
    <td>Beam Minor ["]</td>
    <td>{{BMin}}</td>
  </tr>
  <tr>
    <td>channel width (\(\Delta v\)) [km s\(^{-1}\)]</td>
    <td>{{dV}}</td>
  </tr>
  <tr>
    <td><b>Noise per channel</b> [mJy beam\(^{-1}\)]</td>
    <td>{{noise}}</td>
  </tr>
</table>

<h2>HI Emission detection limits</h2>

<table style="width:50%">
  <tr>
    <td> </td>
    <td><b>N\(_{\rm HI}\)</b> [cm\(^{-1}\)] </td>
    <td><b>\(\Sigma_{\rm HI}\)</b> [M\(_\odot\) pc\(^{-2}\)]</td>
    <td><b>M\(_{\rm HI}\)</b> [M\(_\odot\)] </td>  
  </tr>
  <tr>
    <td><b>1\(\sigma\) - 1 chan ({{dV}} km s\(^{-1}\))</b> </td>
    <td>{{nhi}}</td>
    <td>{{sbHI}}</td>
    <td>{{mHI}}</td>
  </tr>
  <tr></tr>
  <tr>
    <td><b>3\(\sigma\) - 1 chan ({{dV}} km s\(^{-1}\))</b> </td> 
    <td>{{nhi3}}</td>
    <td>{{sbHI3}}</td>
    <td>{{mHI3}}</td>
  </tr>
  <tr>
    <td><b>3\(\sigma\) - 3 chan ({{vRes3}} km s\(^{-1}\))</b> </td> 
    <td>{{nhi33}}</td>
    <td>{{sbHI33}}</td>
    <td>{{mHI33}}</td>
  </tr>
  <tr>
    <td><b>5\(\sigma\) - 5 chans ({{vRes5}} km s\(^{-1}\))</b> </td> 
    <td>{{nhi5}}</td>
    <td>{{sbHI5}}</td>
    <td>{{mHI5}}</td>
  </tr>
</table>
<h2>Moment Maps</h2>


<div id="left_col">
<h3>Column density map</h3>
<img class="mom0" alt="" src="mom0.pdf"></img> 
{{img_mom0}}
Contour levels are {nhi3}\(\times 2^{n}\) where (\(n=0,1,...\), up to 10% of the peak flux density in the moment-0 map. 
The lowest contour corresponds to a \(3\sigma\) in a single channel at the centre of the HI cube.

</div>
<div id="right_col">

<h3>Velocity Field</h3>
<img class="mom1" alt="" src="mom1.pdf"></img><br/>

{{img_mom1}}

Contour levels are as in the column density map.
<br/>
<br/><br/>
<br/>
<br/><br/>
<br/>
<br/><br/>

</div>

<div id="left_col">

<br/>
<br/><br/>
<h3>Velocity dispersion map</h3>
<img class="mom2" alt="" src="mom2.pdf"></img><br/>

{{img_mom2}}


Contours levels are shown in intervals of 25 km s\(^{-1} \) up to 2% of the maximum velocity disperion in the moment-2 map.
<br/>
<br/><br/>
</div>
</html>
